.nav-item {
    background-color: #efeee6;
}

.content-item {
    background-color: gold;
    width: 200px;
    height: 50px;
    display: none;
}

.content-item-active {
    background-color: gold;
    display: block;
}

.nav-item-active {
    background-color: gold;
    border-bottom: 2px solid gold;
}