table {
  border: 1px solid black;
}

th {
  border: 1px solid #1db6b6;
  background-color: antiquewhite;
}

td {
  border: 1px solid #1db6b6;
}

.listTodo {
  width: 500px;
}

.doneTodo {
  background-color: rgba(184, 233, 245, 0.24);
  width: 10%;
}

.btnTodo {
  width: 25%;
}

#addTodoBtn {
  background-color: rgba(238, 206, 10, 0.24);
}

#todoForm {
  margin-left: 5px;
  margin-top: 10px;
}

.mainDivFooter{
  margin-top: 5px;
}

.formInput {
  width: 400px;
  margin-bottom: 10px;
}

.labelTodo{
  margin-right: 5px;
}

.todoNew {
  background-color: rgba(184, 233, 245, 0.24);
}

.todoComplete {
  background-color: rgba(3, 245, 23, 0.53);
}

.inputTodo {
  border: none;
}

.deleteBtn {
  margin: 2px;
  background-color: rgba(197, 90, 65, 0.24);
}

.updateBtn {
  margin: 2px;
  background-color: rgba(250, 237, 68, 0.83);
}

.updateBtn:hover, .deleteBtn:hover {
  background-color: #efeee6;
  cursor: pointer;
}

.todoUpd {
  background-color: rgba(2, 234, 20, 0.53);
}