.deleteBtn {
    margin: 2px;
    background-color: rgba(197, 90, 65, 0.24);
}

table {
    border: 1px solid black;
}

th, td {
    border: 1px solid #1db6b6;
}

.listTodo {
    width: 500px;
}

.textTodo {
    background-color: rgba(184, 233, 245, 0.24);
    width: 80%;
}

.btnContact {
    width: 20%;
}

#addTodoBtn {
    background-color: rgba(238, 206, 10, 0.24);
}

#todoForm {
    margin-left: 5px;
    margin-top: 10px;
}

.formInput {
    width: 200px;
}

.todoNew{
    background-color: rgba(184, 233, 245, 0.24);
}
.todoComplete{
    background-color: rgba(3, 245, 23, 0.53);
}